<app-home-nav-bar></app-home-nav-bar>
<div class="container">
	<h3>Register</h3>
</div>
<div class="container">
	<div class="card" style="width:80%">

		<form [formGroup]="form" (ngSubmit)="Registration(form)">
			<div class="form-group row">
				<label for="staticEmail" class="col-sm-4 col-form-label">Enter Customer Id <span
						style="color:red">*</span></label>
				<div class="col-sm-6">
					<input class="form-control" formControlName="customerId" type="text"
						placeholder="Enter Customer Id" />
				</div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.customerId">
					<div class="error-message"
						*ngIf="form.get('customerId').hasError(error.type) && (form.get('customerId').dirty || form.get('customerId').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>



			<div class="form-group row">

				<label for="inputPassword" class="col-sm-4 col-form-label"> Set Login Password <span
						style="color:red">*</span></label>

				<div class="col-sm-6">
					<input class="form-control" formControlName="loginPassword" type="password"
						placeholder="Enter Login Password" />
				</div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.loginPassword">
					<div class="error-message"
						*ngIf="form.get('loginPassword').hasError(error.type) && (form.get('loginPassword').dirty || form.get('loginPassword').touched)">
						{{ error.message }}

					</div>
				</ng-container>
			</div>

			<div class="form-group row">

				<label for="inputPassword" class="col-sm-4 col-form-label"> Confirm Login Password <span
						style="color:red">*</span></label>

				<div class="col-sm-6">
					<input class="form-control" formControlName="confirmLoginPassword" type="password"
						placeholder="Enter Password" />
				</div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.confirmLoginPassword">
					<div class="error-message"
						*ngIf="form.get('confirmLoginPassword').hasError(error.type) && (form.get('confirmLoginPassword').dirty || form.get('confirmLoginPassword').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

			<div class="form-group row">

				<label for="inputPassword" class="col-sm-4 col-form-label"> Set Transaction Password <span
						style="color:red">*</span></label>

				<div class="col-sm-6">
					<input class="form-control" formControlName="transactionPassword" type="password"
						placeholder="Enter Transaction Password" />
				</div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.transactionPassword">
					<div class="error-message"
						*ngIf="form.get('transactionPassword').hasError(error.type) && (form.get('transactionPassword').dirty || form.get('transactionPassword').touched)">
						{{ error.message }}

					</div>
				</ng-container>
			</div>

			<div class="form-group row">

				<label for="inputPassword" class="col-sm-4 col-form-label"> Confirm Transaction Password <span
						style="color:red">*</span></label>

				<div class="col-sm-6">
					<input class="form-control" formControlName="confirmTransactionPassword" type="password"
						placeholder="Enter Password" />
				</div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.confirmTransactionPassword">
					<div class="error-message"
						*ngIf="form.get('confirmTransactionPassword').hasError(error.type) && (form.get('confirmTransactionPassword').dirty || form.get('confirmTransactionPassword').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>
			<div class="form-group row">

				<label for="inputPassword" class="col-sm-4 col-form-label"> Set Profile Password <span
						style="color:red">*</span></label>

				<div class="col-sm-6">
					<input class="form-control" formControlName="profilePassword" type="password"
						placeholder="Enter Profile Password" />
				</div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.profilePassword">
					<div class="error-message"
						*ngIf="form.get('profilePassword').hasError(error.type) && (form.get('profilePassword').dirty || form.get('profilePassword').touched)">
						{{ error.message }}

					</div>
				</ng-container>
			</div>

			<div class="form-group row">

				<label for="inputPassword" class="col-sm-4 col-form-label"> Confirm Profile Password <span
						style="color:red">*</span></label>

				<div class="col-sm-6">
					<input class="form-control" formControlName="confirmProfilePassword" type="password"
						placeholder="Enter Password" />
				</div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.confirmProfilePassword">
					<div class="error-message"
						*ngIf="form.get('confirmProfilePassword').hasError(error.type) && (form.get('confirmProfilePassword').dirty || form.get('confirmProfilePassword').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>


			<div class="form-group row" class="text-center">
				<input type="button" class="btn btn-primary form-control " style="margin-bottom: 20px; width: 100px;"
				  (click)="getOtp(form.value.customerId)" value="Proceed">
			</div>

		  
				<div *ngIf="flag==true">
			 <div class="form-group row">

				<label for="inputPassword" class="col-sm-4 col-form-label"> Enter OTP <span
						style="color:red">*</span></label>

				<div class="col-sm-6">
					<input class="form-control" formControlName="otp" type="number" placeholder="Enter OTP" />
				</div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.lname">
					<div class="error-message"
						*ngIf="form.get('otp').hasError(error.type) && (form.get('otp').dirty || form.get('otp').touched)">
						{{ error.message }}

					</div>
				</ng-container>
			</div>

			<div class="wrapper" class="text-center">
				<button type="submit" class="form-control btn btn-primary" style="margin-bottom: 20px; width: 100px;"
					
					>Register</button>
			</div>
			<!-- [disabled]="!form.valid" -->
		</div>
		</form>

	</div>
</div>
<app-home-footer></app-home-footer>