
<div >
  <div >
    <div  >
      
    </div>

    <div style="margin-left:15%;padding:1px 16px;height:1000px;">
      <div style="text-align: center;">
        <h2>Dashboard</h2>
      </div>
      <div >
       
        <ul>
          <li>
            <a href="#">recent activity</a>
          </li>
          <li >
            <a  href="#">user profile</a>
          </li>
          <li >
            <a  href="#">change passwords</a>
          </li>
          <li >
            <a class="disabled" href="#">need help?</a>
          </li>        
        </ul>
      </div>
    </div>
  </div>
</div>
