<app-dashboardsidebar></app-dashboardsidebar>

    <div style="margin-left:15%;padding:1px 16px;">
      <div style="text-align: center;">
        <h2>Dashboard</h2>
      </div>
      
      <div >
       
        <ul>
          <li>
            <a href="#" routerLink="/accountsummary">Account Summary</a>
          </li>
          <li >
            <a  href="#" routerLink="/useraccount">user profile</a>
          </li>
          <li >
            <a  href="#" routerLink="/setnewpassword">change passwords</a>
          </li>
          <li >
            <a  href="#" routerLink="/faq">need help?</a>
          </li> 
          <li >
            <a  href="#" (click)="logoutconfirm()">logout</a>
          </li>        
        </ul>
      </div>
      

    </div>
  
<router-outlet></router-outlet>