<div >
    <div >
      <div >
      
      </div>
      <div style="margin-left:15%;padding:1px 16px;">
        <div>
          <h2 style="text-align: center;">Set new Password</h2>
        </div>
        <br>
        <div style="text-align: center;"  >
          <div style="margin : auto;border: 4px double blue;" class="setnewpass">
            <form [formGroup]="form" (ngSubmit)="setPasswords(form)" style="padding: 30px;">
              <table style="margin: auto;">
                <tr><td><label for="loginpass">Login Password</label></td><td><input type="password" id="loginpass" 
                    formControlName="loginpassword"></td></tr>
               
              
              
                
                    <tr><td><label for="confloginpass">Confirm Login Password</label></td><td><input type="password" id="confloginpass" 
                    formControlName="confloginpassword"></td></tr>
                
              
              
                
                  <tr><td><label for="transactionpass">Transaction Password</label></td><td><input type="password" id="transactionpass" 
                    formControlName="transactionpassword"></td></tr>
               
              
              
                
                  <tr><td><label for="conftransactionpass">Confirm Transaction Password</label></td><td><input type="password" id="conftransactionpass"
                     formControlName="conftransactionpassword"></td></tr>
                
              
  
  
              </table>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
