<!-- Footer
<footer class="w3-bottom w3-center w3-white w3-padding-30 w3-card">
    <div class="w3-xlarge w3-section">
        <a  style="color: inherit;"  href="https://www.larsentoubro.com/corporate/contact-us/"><i class="fa fa-envelope-o w3-hover-opacity"></i></a>&nbsp;
         <a style="color: inherit;"  href="https://www.facebook.com/LarsenToubroInfotech/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>&nbsp;
        <a style="color: inherit;"  href="https://www.instagram.com/larsentoubro/?hl=en"><i class="fa fa-instagram w3-hover-opacity"></i></a>&nbsp;
        <a style="color: inherit;"  href="https://twitter.com/larsentoubro?lang=en"><i class="fa fa-twitter w3-hover-opacity"></i></a>&nbsp;
        <a  style="color: inherit;"  href="https://in.linkedin.com/company/larsen-&-toubro-limited"><i class="fa fa-linkedin w3-hover-opacity"></i></a>&nbsp;
    </div>

</footer> -->

<!-- ======= Footer ======= -->
<footer id="footer">


    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Bethany</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->