<app-admin-navbar></app-admin-navbar>


<div class="cardz">

    <h3 class="w3-left">{{message}}</h3><br><br>
    <h3 class="w3-left">Welcome {{adminName}}</h3>
    <h2 style="text-align: center;width:100%;">Active Customers</h2>
    <br>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Customer Info</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cust of customers">
                    <td><span>{{cust.customerId}}</span></td>
                    <td><span><button class="btn btn-link" (click)='viewdets(cust.customerId)'>View
                                Details</button></span></td>
                </tr>
            </tbody>
        </table>
        <br><br><br>
    </div>
</div>
<router-outlet></router-outlet>