<div class="w3-top">
    <div class="w3-bar w3-white w3-card">
        <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
        <div class="w3-right w3-hide-small">
            <a href="#home" class="w3-bar-item w3-button">HOME</a>
            <a href="#about" class="w3-bar-item w3-button">ABOUT</a>


            <div style="display: inline">
                <button class="w3-bar-item w3-button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true">
                    SERVICES
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" routerLink="/createaccount" routerLinkActive="active">CREATE
                        SAVINGS ACCOUNT</a>
                    <a class="dropdown-item" href="#" routerLink="/register" routerLinkActive="active">REGISTER</a>
                    <a class="dropdown-item" href="#" routerLink="/checkapplication"
                        routerLinkActive="active">APPLICATION STATUS</a>
                    <a class="dropdown-item" href="#" routerLink="/forgotpass" routerLinkActive="active">ACCOUNT
                        UNLOCK</a>
                </div>
            </div>



            <div style="display:inline">
                <button class="w3-bar-item w3-button" id="dropdownMenuButton2" data-toggle="dropdown"
                    aria-haspopup="true">
                    LOGIN
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item" href="#" routerLink="/login" routerLinkActive="active">USER</a>
                    <a class="dropdown-item" href="#" routerLink="/adminlogin" routerLinkActive="active">ADMIN</a>
                </div>
            </div>

            <a href="#offers" class="w3-bar-item w3-button">OFFERS</a>
            <a href="#help" class="w3-bar-item w3-button">HELP</a>
            <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
        </div>
    </div>
</div>