<!-- <app-admin-dash-board></app-admin-dash-board> -->
<!-- <app-customer-details></app-customer-details> -->
<!--<app-transaction-successful></app-transaction-successful>-->
<!-- <app-transaction-successful></app-transaction-successful> -->
<!-- <app-create-account></app-create-account> -->
<!-- <app-admin-dash-board></app-admin-dash-board>
<app-customer-details></app-customer-details>  

<router-outlet></router-outlet>
<app-create-account></app-create-account> -->
<!-- <app-admin-dash-board></app-admin-dash-board>
    
<app-customer-details></app-customer-details>  -->
<!-- <app-forgot-password></app-forgot-password> -->
<!-- <app-home></app-home>

<app-userdashboard></app-userdashboard> -->

<!-- <app-login></app-login> -->
<!-- <app-login></app-login> -->


<app-home></app-home>
<router-outlet></router-outlet>
<!-- <app-add-beneficiary></app-add-beneficiary> -->
