<div >
  <div>
    <div  >
      
    </div>
    <div style="margin-left:15%;text-align: center;" class="center">
      <h3>Session Expired</h3><br>
      <div>
        you have been logged out
      </div> 
        <div>
        <form>
          <table style="margin: auto;"><tr><td><b>Last logged in: -</b></td><td><input type="text" readonly></td></tr></table>
          
          <div><b>Suggestions - <textarea></textarea></b></div>
          <div>For security reasons we have diabled back button</div>
          <div><a href="">click here</a> to go login page</div>
        </form>
      </div>
    </div>
  </div>
</div>