<app-dashboardsidebar></app-dashboardsidebar>
<app-userdashboard></app-userdashboard>
<div>
  <div>
    <div>

    </div>

    <div style="margin-left:15%;padding:1px 16px;height:1000px;">
      <div style="text-align: center;">
        <h2>Account Statement</h2>
      </div>
      <div>
        <div>
          <form [formGroup]="form" (ngSubmit)=" onTransactionStatementRequest(form)">

            <div style="text-align: right;">
              statement from <input type="date" id="fromdate" formControlName="fromdate"> to <input type="date"
                id="todate" formControlName="todate">
            </div>
            <div class="error-messages" style="text-align: right;margin-right: 9px;">
              <ng-container *ngFor="let error of error_messages.todate">
                <div class="error-message"
                  *ngIf="form.get('todate').hasError(error.type) && (form.get('todate').dirty || form.get('todate').touched)">
                  {{ error.message }}
                </div>
                <div class="error-message"
                  *ngIf="form.get('fromdate').value>form.get('todate').value && (form.get('todate').dirty || form.get('todate').touched)">
                  <b>todate should be bigger then from date</b>
                </div>
              </ng-container>

            </div>
            
            <div class="wrapper">
              <button type="submit" class="form-control btn btn-primary" style="margin-bottom: 20px; width: 100px;"
                [disabled]="form.invalid">Submit</button>

            </div>

          </form>
        </div>


        <div>
          <br>
          <table class="table table-bordered">
            <tr>
              <th>TransactionId</th>
              <th>Messaage</th>
              <th>Transaction Amount</th>
              <th>Transaction Type</th>
              <th>Balance</th>
            </tr>
            <div *ngIf="flag==true">
            <tr *ngFor="let transaction of transactionstatement[0]">

              <td>{{transaction.transactionId}}</td>
              <td>{{transaction.message}}</td>
              <td>{{transaction.transactionAmount}}</td>
              <td>{{transaction.transactionType}}</td>
              <td>{{transaction. updatedBalance}}</td>
            </tr>
          </div>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>