<app-dashboardsidebar></app-dashboardsidebar>
<app-userdashboard></app-userdashboard>
<div>
  <div>
    <div>
      
    </div>

    <div style="margin-left:15%;padding:1px 16px;height:1000px;">
      <div style="text-align: center;">
        <h2>Account Statement</h2>
      </div>
      <div>
        <div>
          <form [formGroup]="form" (ngSubmit)=" onTransactionStatementRequest(form)">

            <div style="text-align: right;">
              statement from <input type="date" id="fromdate"  formControlName="fromdate"> to <input
                type="date" id="todate" formControlName="todate">
            </div>
            <div style="text-align: center;">
              <input type="submit" value="submit">
            </div>
          </form>
        </div>


        <div>
          <br>
          <table class="table table-bordered">
            <tr>
              <th>TransactionId</th>
              <th>Messaage</th>
              <th>Transaction Amount</th>
              <th>Transaction Type</th>
              <th>Balance</th>
            </tr>
            <tr *ngFor="let transaction of transactionstatement">
              
              <td>{{transaction.transactionId}}</td>
              <td>{{transaction.message}}</td>
              <td>{{transaction.transactionAmount}}</td>
              <td>{{transaction.transactionType}}</td>
              <td>{{transaction. updatedBalance}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>