.frm{
    margin:auto;
    border-style: groove;
    width: 70vh;
}

.input{
    display: flex;
    border-bottom: groove;
    padding:15px;
    
}

#selector {
    width:35vh;
}

select{
    width:20vh;
}


a{
    padding-right:10px;
}

