<h3 style="text-align: center;width:100%;">Transaction Successful</h3>
<div class="frm">
    <div class="input" *ngFor="let detail of details">
        <div id="selector" style="font-family: Arial, Helvetica, sans-serif; font-size: 2vh;">
            {{detail.key}}:
        </div>
        <div style="font-family: Arial, Helvetica, sans-serif; font-size: 2vh;">
            {{detail.value}}
        </div>
    </div>
    <div class="form-group row" class="text-center">
        <button class="btn btn-primary" routerLink="accountsummary">Ok</button>
    </div>
</div>